<!doctype html>

<html>

  <head>
   <title>Drugs</title>
   <link rel="stylesheet" href="../css/style.css">
  </head>

  <body>
    <h1 align="center">Raising drug awareness</h1>
  <form method ="POST" action="/results">
<!--     <a class="round yellow">Play <span class="round">Click me to start the game!</span></a> -->
    <ul>
  <li><input type="radio">Molly</li>
  <li><input type="radio">Weed</li>
  <li><input type="radio">Ecstacy</li>
  <li><input type="radio">Xanax</li>
  <li><input type="radio">Adderall</li>
  <li><input type="radio">LSD</li>
  <li><input type="radio">Shrooms</li>
  <li><input type="radio">Nicotine</li>
  <li><input type="radio">Kitty</li>
  <li><input type="radio">Alcohol</li>
  <li><input type="radio">Meth</li>
   </ul>
</form>
</body>


</html