<!doctype html>

<html>

  <head>
   <title>Drugs</title>
   <link rel="stylesheet" href="../css/style.css">
  </head>

  <body>
    <h1 align="center">Raising drug awareness</h1>
  <form method ="POST" action="/results">
    <ul>

  <h1><li><input type="radio" name="drug" value="molly" >Molly</li>
  <li><input type="radio" name="drug" value="weed">Weed</li>
  <li><input type="radio" name="drug" value="xanax">Xanax</li>
  <li><input type="radio" name="drug" value="adderall">Adderall</li>
  <li><input type="radio" name="drug" value="lsd">LSD</li>
  <li><input type="radio" name="drug" value="shrooms">Shrooms</li>
  <li><input type="radio" name="drug" value="nicotine">Nicotine</li>
  <li><input type="radio" name="drug" value="kitty">Kitty</li>
  <li><input type="radio" name="drug" value="alcohol">Alcohol</li>
  <li><input type="radio" name="drug" value="meth">Meth</li></h1>

   </ul>
    <p>Click which drug you want to learn about and hit submit.</p>
    <input type="submit" value="Submit">
    </form>
</body>


</html