<!doctype html>

<html>

  <head>
   <title>Drugs</title>
   <link rel="stylesheet" href="../css/style.css">
  </head>

  <body>
    <h1 align="center">Raising drug awareness</h1>
  <form method ="POST" action="/results">
    <ul>
  <h1><li><input type="radio">Molly</li></h1>
  <h1><li><input type="radio">Ecstacy</li></h1>
  <h1><li><input type="radio">Xanax</li></h1>
  <h1><li><input type="radio">Adderall</li></h1>
  <h1><li><input type="radio">LSD</li></h1>
  <h1><li><input type="radio">Shrooms</li></h1>
  <h1><li><input type="radio">Nicotine</li></h1>
  <h1><li><input type="radio">Kitty</li></h1>
  <h1><li><input type="radio">Alcohol</li></h1>
  <h1><li><input type="radio">Meth</li></h1>
   </ul>
</form>
</body>


</html